<div>
    ca marche
</div>
<style>
    body{
        background-image: url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.15752-0/p280x280/94127912_668305083949085_7715279680584024064_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_oc=AQmkEqqHWQTYyX5LLqUNKYFvi5bLbwcD_5FNszgRDFa8aP0so0eI4QwBw4j3Ps4JvPS7IwobO9tk0eTj1OgBaO8D&_nc_ht=scontent-cdg2-1.xx&oh=d4a9a7cdca808e42d5f3f237f92a3b60&oe=5EC54B58');
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: 100% 100%;
        margin-left:auto;
        margin-right:auto;
        width:50%;
        }
</style>